<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213395181144-n4kbdgp97mfmut75d56pmh1qg7tdkedh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213395181144-n4kbdgp97mfmut75d56pmh1qg7tdkedh</string>
	<key>API_KEY</key>
	<string>AIzaSyAlT9SekOfxiJEjRpCg3FspKhRPgrHtl8c</string>
	<key>GCM_SENDER_ID</key>
	<string>213395181144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.natrajyamaha1</string>
	<key>PROJECT_ID</key>
	<string>natrajyamaha</string>
	<key>STORAGE_BUCKET</key>
	<string>natrajyamaha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213395181144:ios:7e17da72b7f2aa57e8442d</string>
	<key>DATABASE_URL</key>
	<string>https://natrajyamaha.firebaseio.com</string>
</dict>
</plist>